<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Gazebo Materials -->
  
  <!-- Gazebo Plugin for Joint State Publisher -->
  
  <gazebo>
        <plugin 
            filename="gz-sim-joint-state-publisher-system" 
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>arm_base_joint</joint_name>
            <joint_name>arm_shoulder_joint</joint_name>
            <joint_name>arm_elbow_joint</joint_name>
            <joint_name>arm_wrist_joint</joint_name>
            <joint_name>arm_gripper_base_joint</joint_name>
            <joint_name>arm_gripper_left_joint</joint_name>
            <joint_name>arm_gripper_right_joint</joint_name>
            
        </plugin>
  </gazebo>

  <gazebo>
   
    

    
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>arm_base_joint</joint_name>
      <topic>/model/arm/joint/arm_base_joint/cmd_pos</topic>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>30</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>arm_shoulder_joint</joint_name>
      <topic>/model/arm/joint/arm_shoulder_joint/cmd_pos</topic>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>30</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>arm_elbow_joint</joint_name>
      <topic>/model/arm/joint/arm_elbow_joint/cmd_pos</topic>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>30</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>arm_wrist_joint</joint_name>
      <topic>/model/arm/joint/arm_wrist_joint/cmd_pos</topic>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>30</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>arm_gripper_base_joint</joint_name>
      <topic>/model/arm/joint/arm_gripper_base_joint/cmd_pos</topic>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>30</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>arm_gripper_left_joint</joint_name>
      <topic>/model/arm/joint/arm_gripper_left_joint/cmd_pos</topic>
      <p_gain>500</p_gain><i_gain>2</i_gain><d_gain>30</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>arm_gripper_right_joint</joint_name>
      <topic>/model/arm/joint/arm_gripper_right_joint/cmd_pos</topic>
      <p_gain>500</p_gain><i_gain>2</i_gain><d_gain>30</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

  </gazebo>

  

  <!-- Gazebo Plugin for Pose Publisher -->
  <gazebo>
    <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
      <publish_link_pose>true</publish_link_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <static_publisher>true</static_publisher>
      <static_update_frequency>60</static_update_frequency>
    </plugin>
  </gazebo>

 
  


 
  

  





    

    

    

</robot>
